metadata.csv
__pycache__/
*.pyc
.DS_Store
data/
*.tsv
*.csv
!hpa_image_urls.csv
!pilot_cells_to_download.csv
!pilot_test_set_summary.csv
!on_ensembl/pilot_cells_to_download.csv
SubCellPortable/
images/
outputs/
tmp_downloads/
test_images/
split_test_images/
